{% extends 'base.html.twig' %}

{% block title %}New Bilet{% endblock %}

{% block body %}
    <h1>Create new Bilet</h1>

    {{ include('bilet/_form.html.twig') }}

    <a href="{{ path('bilet_index') }}">back to list</a>
{% endblock %}
