<form method="post" action="{{ path('czlonek_zespolu_delete', {'id': czlonek_zespolu.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ czlonek_zespolu.id) }}">
    <button class="btn">Delete</button>
</form>
