{% extends 'base.html.twig' %}

{% block title %}Edit Produkt{% endblock %}

{% block body %}
    <h1>Edit Produkt</h1>

    {{ include('produkt/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('produkt_index') }}">back to list</a>

    {{ include('produkt/_delete_form.html.twig') }}
{% endblock %}
