{% extends 'base.html.twig' %}

{% block title %}Edit Zespol{% endblock %}

{% block body %}
    <h1>Edit Zespol</h1>

    {{ include('zespol/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('zespol_index') }}">back to list</a>

    {{ include('zespol/_delete_form.html.twig') }}
{% endblock %}
